logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
public/gen/
res/volatile/js/*.js
res/volatile/css/*.css
res/volatile/css/*.css.map
._*
Icon*
