doctype html
html(lang='en')
	title= 'GL Test: ' + title
	link(rel='stylesheet', href='/css/gl.css')
	link(rel='stylesheet', href='/css/' + page + '.css')

body
	canvas(id='main')
	script(src='/js/gl/' + page + '.js')
