extends layout

block styles
	link(rel='stylesheet', href='/css/control.css')

block content
	canvas(id="main")

	include controls/pallette.pug
	//include controls/controller.pug
	
	script(src='/js/tools.js')
