div(id='tool', class='control')
	div(class='top-bar') #{name}
		ul
			li preview/type (becomes permanent after you choose.  Must make new tool to change it)
			li size
			li flow
			li color (from swatches... must go to swatches to change them/add new.  Swatches will have "apply to active tool" button.)
			li pressure scaling
				ul 
					li size (0-200%)
					li flow (0-200%, numbers above 100% will add to the opacity of the underlying color) 
			li speed scaling
				ul 
					li size (0-200%)
					li flow (0-200%, numbers above 100% will add to the opacity of the underlying color)
